/* Fundo romântico com leve desfocado */
body {
    background: url('https://i.imgur.com/4aZs6HM.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(3px);
    margin: 0;
    padding: 40px;
    font-family: "Cormorant Garamond", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Efeitos decorativos superiores e inferiores */
.enfeite {
    width: 90%;
    max-width: 900px;
    height: 60px;
    background: url('https://i.imgur.com/lxF8xfv.png') center/contain no-repeat;
    opacity: 0.7;
}

.carta {
    background: rgba(255, 249, 231, 0.95);
    width: 80%;
    max-width: 750px;
    padding: 50px 60px;
    border: 3px solid #c3a56a;
    border-radius: 10px;
    box-shadow: 0px 0px 35px rgba(0,0,0,0.35);
    line-height: 1.8;
    font-size: 1.4rem;
    position: relative;
}

/* Ornamentos no canto da carta */
.carta:before,
.carta:after {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: url('https://i.imgur.com/6pHbn2A.png') center/contain no-repeat;
    opacity: 0.35;
}

.carta:before {
    top: -20px;
    left: -20px;
}

.carta:after {
    bottom: -20px;
    right: -20px;
}

/* Título romântico */
.carta h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 2px;
    color: #7a5a3a;
    text-shadow: 1px 1px 3px #f2e4c3;
}

/* Texto */
.carta p {
    color: #5a4a39;
    text-indent: 35px;
}

/* Assinatura */
.assinatura {
    margin-top: 60px;
    text-align: right;
    font-style: italic;
}

.assinatura span {
    font-size: 1.7rem;
    color: #6e4d31;
    font-family: "Great Vibes", cursive;
    text-shadow: 1px 1px 2px #e5d6b5;
}
