body {
    background: url('https://i.imgur.com/q6XW5bE.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 40px;
    font-family: "Cormorant Garamond", serif;
    display: flex;
    justify-content: center;
}

.carta {
    background: rgba(255, 249, 231, 0.95);
    width: 80%;
    max-width: 700px;
    padding: 50px;
    border: 2px solid #c9b27c;
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    line-height: 1.7;
    font-size: 1.3rem;
}

.carta h1 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 0 #fdf1d3;
}

.assinatura {
    margin-top: 50px;
    font-style: italic;
    text-align: right;
    font-size: 1.2rem;
}
