body {
    background: #eadfcb;
    font-family: "Times New Roman", serif;
    margin: 0;
    font-family: "Playwrite CU", cursive;
    padding: 0;
}

.pergaminho {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px;
    background: #95b9b8;
    border: 2px solid #6c8aa1;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    background-image: url('https://i.imgur.com/9GjC9dt.jpg'); /* textura leve */
    background-size: cover;
    background-blend-mode: multiply;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.linha {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    text-indent: 30px;
    line-height: 1.8;
}

.assinatura {
    margin-top: 40px;
    text-align: right;
    font-style: italic;
    font-size: 22px;
}
